.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 4px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__buttons {
    display: none;
    margin: auto;
    .button {
      width: 100%;
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}