.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include flex-column(3, 30px, 30px);
  @include respond-to(tablet) {
    @include flex-column(2, 20px, 20px);
  }
  @include respond-to(smartphone) {
    @include flex-column(2, 15px, 15px);
  }
  padding: 15px 20px;
  &__image {
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 150px;
    }
  }
}