<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="robots" content="index, follow">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content=""/>
  <meta name="robots" content="index, follow">
  <meta name="author" content="The Oven" />
  <!-- facebook meta -->
  <meta property="og:type" content="{{site.social.facebook.type}}" /> 
  <meta property="og:title" content="{{ site.social.facebook.title }}">
  <meta property="og:description" content="{{ site.social.facebook.description }}">
  <meta property="og:url" content="{{ site.baseurl }}">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>