/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

:root { --home-link: 0; --about-link: 0; --port-link: 0; --lab-link: 0; --contact-link: 0; --home-image: ''; }

/* -------------------------- SET UP FONT VARIABLES -------------------------- */
@font-face { font-family: 'HKGrotesk'; src: url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Medium.eot") format("eot"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Medium.woff") format("woff"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Medium.woff2") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HKGrotesk-regular'; src: url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Regular.eot") format("eot"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Regular.woff") format("woff"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Regular.woff2") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HKGrotesk-bold'; src: url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Bold.eot") format("eot"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Bold.woff") format("woff"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Bold.woff2") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HKGrotesk-light'; src: url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Light.eot") format("eot"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Light.woff") format("woff"), url("/assets/files/fonts/HKGrotesk/WEB/HKGrotesk-Light.woff2") format("woff"); font-weight: normal; font-style: normal; }

/* -------------------------- TYPOGRAPHIC SCALE https://blog.envylabs.com/responsive-typographic-scales-in-css-b9f60431d1c4 http://spencermortensen.com/articles/typographic-scale/ https://codepen.io/dangodev/pen/OOaYya http://www.modularscale.com/?18&px&1.125 -------------------------- */
/* -------------------------- BREAK POINTS -------------------------- */
/* Equal-column flex grid with gutter support */
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after { box-sizing: border-box; }

html { -webkit-text-size-adjust: 100%; }

body { font-family: "HKGrotesk-regular", sans-serif; color: #fff; line-height: 1.3; font-size: 18px; font-weight: normal; letter-spacing: 1px; background-color: #181818; }

body.menu-active { overflow-y: hidden; overflow: hidden; }

.container { max-width: 100%; padding-right: 50px; padding-left: 50px; }

@media (max-width: 950px) { .container { width: auto; padding-right: 20px; padding-left: 20px; } }

.main-content { position: relative; width: 100%; height: calc(100vh - 100px); padding-bottom: 100px; background-color: #181818; overflow-y: scroll; }

.tag { border-radius: 139px; padding: 1px 15px; text-transform: uppercase; background: cyan; }

/** Headers */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { padding: 0 0 8px; font-family: "HKGrotesk-bold", sans-serif; font-weight: bold; text-transform: uppercase; line-height: 1; }

h1, .h1 { font-size: 65px; }

@media (max-width: 1070px) { h1, .h1 { font-size: 50px; } }

@media (max-width: 600px) { h1, .h1 { font-size: 38px; } }

h2, .h2 { font-size: 50px; }

@media (max-width: 1070px) { h2, .h2 { font-size: 38px; } }

@media (max-width: 600px) { h2, .h2 { font-size: 29px; } }

h3, .h3 { font-size: 38px; }

@media (max-width: 1070px) { h3, .h3 { font-size: 29px; } }

@media (max-width: 600px) { h3, .h3 { font-size: 22px; } }

h4, .h4 { font-size: 29px; }

@media (max-width: 1070px) { h4, .h4 { font-size: 22px; } }

@media (max-width: 600px) { h4, .h4 { font-size: 18px; } }

h5, .h5 { font-size: 22px; }

@media (max-width: 1070px) { h5, .h5 { font-size: 18px; } }

@media (max-width: 600px) { h5, .h5 { font-size: 15px; } }

h6, .h6 { font-size: 18px; }

@media (max-width: 1070px) { h6, .h6 { font-size: 15px; } }

@media (max-width: 600px) { h6, .h6 { font-size: 14px; } }

s p { margin: 0 0 27px; font-size: 1.5em; font-family: "HKGrotesk-regular", sans-serif; font-weight: normal; line-height: 1; }

.font-green { color: cyan; }

.font-white { color: #fff; }

.font-black { color: #181818; }

a { text-decoration: none; color: #fff; }

a.button { transform: translate3d(0, 0, 0); display: inline-block; position: relative; padding: 12px 30px; color: #FFFFFF; background-color: transparent; font-size: 16px; font-weight: normal; line-height: 100%; text-align: center; text-decoration: none; text-transform: uppercase; cursor: pointer; box-shadow: 3px 2px 0px 0px cyan; border: 3px solid #ff4444; transition: all 0.4s ease-out; }

a.button:hover { box-shadow: 3px 2px 0px 0px #ff4444; border: 3px solid cyan; }

.home-marquee { height: 100%; width: 100%; background-size: contain; background-position: center; background-repeat: no-repeat; }

.home-marquee--image { background-size: contain; background-position: center; background-repeat: no-repeat; }

.home-marquee__container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; height: 100%; }

.home-marquee__headline { color: transparent; -webkit-text-stroke: 2px cyan; font-size: 50px; }

.home-marquee__headline-a { font-size: 120px; color: transparent; -webkit-text-stroke: 2px cyan; word-break: break-all; }

.home-marquee__subhead { color: transparent; -webkit-text-stroke: 2px #ff4444; text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000; word-break: break-all; font-size: 10vw; }

.home-marquee__subhead span { animation: flicker linear infinite 2s; }

.home-marquee__subhead span:nth-child(2) { animation: flicker alternate infinite 4s; }

.home-marquee__subhead span:last-of-type { animation: flicker linear infinite 3s; }

@keyframes flicker { 0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000; }
  20%, 24%, 55% { text-shadow: none;
    box-shadow: none; } }

.navigation::-webkit-scrollbar { display: none; }

.navigation { position: fixed; bottom: 0; width: 100%; background-color: #0B0B0C; overflow-x: scroll; }

.navigation__container { display: -ms-flexbox; display: flex; position: relative; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: start; justify-content: flex-start; height: 100px; }

.navigation__container:before { content: ''; position: absolute; top: 0; background-color: #ff4444; width: 100%; min-width: calc(250px * 5); height: 4px; z-index: 2; }

.navigation__item { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; position: relative; -ms-flex-align: center; align-items: center; width: 20vw; min-width: 250px; font-size: 20px; background-color: #0B0B0C; color: #4b4b4b; text-transform: uppercase; transition: .3s ease-in-out; }

.navigation__item--one.navigation__item--active ~ .navigation__line { left: 0; }

.navigation__item--one:hover ~ .navigation__line { left: 0 !important; }

.navigation__item--two:hover ~ .navigation__line { left: var(--about-link) !important; }

.navigation__item--two.navigation__item--active ~ .navigation__line { left: var(--about-link); }

.navigation__item--three:hover ~ .navigation__line { left: var(--port-link) !important; }

.navigation__item--three.navigation__item--active ~ .navigation__line { left: var(--port-link); }

.navigation__item--four:hover ~ .navigation__line { left: var(--lab-link) !important; }

.navigation__item--four.navigation__item--active ~ .navigation__line { left: var(--lab-link); }

.navigation__item--five:hover ~ .navigation__line { left: var(--contact-link) !important; }

.navigation__item--five.navigation__item--active ~ .navigation__line { left: var(--contact-link); }

.navigation__item--active { color: cyan; }

.navigation__item:hover, .navigation__item:focus { color: cyan; font-size: 25px; border: none; outline: none; cursor: pointer; }

.navigation__line { position: absolute; left: -20vw; height: 4px; width: 20vw; min-width: 250px; margin: 0; border-radius: 100px; background: cyan; z-index: 3; transition: .3s ease-in-out; }

.marquee { margin-bottom: 40px; }

.marquee__wrapper { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: start; justify-content: flex-start; text-align: center; }

.marquee__headline { position: relative; color: transparent; -webkit-text-stroke: 2px cyan; padding: 20px 0; font-size: 5vw; }

.marquee__headline:after { content: ''; position: absolute; left: 0; width: 100%; height: 4px; background-color: #ff4444; animation: bar-animation 5s infinite; }

.marquee__headline:after { bottom: 0; }

@keyframes bar-animation { 0% { box-shadow: 0px 0px 20px 0px #ff4444; }
  25% { box-shadow: 0px 0px 20px 2px #ff4444; }
  50% { box-shadow: 0px 0px 20px 3px #ff4444; }
  75% { box-shadow: 0px 0px 20px 2px #ff4444; }
  100% { box-shadow: 0px 0px 20px 0px #ff4444; } }

.cards { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[3]; grid-template-columns: repeat(3, 1fr); grid-auto-rows: auto; grid-gap: 4px; }

.card { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; }

.card__image { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; text-align: center; }

.card__image img { max-width: 100%; -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; }

.card__buttons { display: none; margin: auto; }

.card__buttons .button { width: 100%; margin-bottom: 10px; }

.card__buttons .button:last-of-type { margin-bottom: 0; }

.about { height: 100%; }

.about__container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; height: 100%; }

.about__headline { color: transparent; -webkit-text-stroke: 2px cyan; text-shadow: 5px 10px hotpink; }

.about__tags { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-align: start; align-items: flex-start; }

.about__tags .tag { margin: 10px 10px 10px 0; }

/*# sourceMappingURL=style.css.map*/